<!-- Card da Tabela de Credenciados -->
<div id="credenciadosTable" class="card card-cascade narrower mt-5">

    <!--Card image-->
    <div class="view view-cascade gradient-card-header blue-gradient narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center">

        

        <a href="" class="white-text mx-3">Lista de Credenciados</a>

        

    </div>
    <!--/Card image-->

    <div class="px-5">

        <div class="table-wrapper">
            <!--Table-->
            <table class="table table-hover mb-0">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>
                            <input class="form-check-input" type="checkbox" id="checkbox">
                            <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label>
                        </th>
                        <th class="th-lg">
                            <a>Nome
                                <i class="fa fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th class="th-lg">
                            <a href="">Pessoas
                                <i class="fa fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th class="th-lg">
                            <a href="">CPF/CNPJ
                                <i class="fa fa-sort ml-1"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" id="checkbox1">
                            <label class="form-check-label" for="checkbox1" class="label-table"></label>
                        </th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" id="checkbox2">
                            <label class="form-check-label" for="checkbox2" class="label-table"></label>
                        </th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" id="checkbox3">
                            <label class="form-check-label" for="checkbox3" class="label-table"></label>
                        </th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" id="checkbox4">
                            <label class="form-check-label" for="checkbox4" class="label-table"></label>
                        </th>
                        <td>Paul</td>
                        <td>Topolski</td>
                        <td>@P_Topolski</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" id="checkbox5">
                            <label class="form-check-label" for="checkbox5" class="label-table"></label>
                        </th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
            <!-- Botão para acrescentar credenciado -->
            <button type="button" id="addCred" class="btn btn-rounded btn-primary float-right mb-3 mr-4"><i class="fa fa-plus pr-2" aria-hidden="true"></i>Credenciado</button>
        </div>

    </div>

</div>