<!-- Card do cadastro Inicial -->
<div id="cadastroMenuInicial" class="card card-cascade narrower mt-5">
    <div class="view view-cascade gradient-card-header blue-gradient">
        <h2 class="card-header-title">Cadastro</h2>
    </div> 
    <div class="card-body">  
        <form id="cadMenuInicial">
            <h4 class="formTitle">Dados Cadastrais da Empresa</h4>
            <!-- Row do CNPJ -->
            <div class="form-row">
                <div class="col-3">
                    <div class="md-form">
                        <input type="text" id="cnpjInicial" class="form-control" value="99.999.999/9999-99">
                        <label for="fcnpjInicialorm1" >CNPJ</label>
                    </div>
                </div>
            </div>
            <!-- Row do Razao Social e NOme Fantasia -->
            <div class="form-row">
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="rzInicial" class="form-control" value="Empresa X Ind e Com">
                        <label for="rzInicial" >Razão Social</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="nomeFantasiaInicial" class="form-control" value="Empresa X Ind e Com">
                        <label for="nomeFantasiaInicial" >Nome Fantasia</label>
                    </div>
                </div>
            </div>
            <!-- Row do Inscrição Estadual e CNAE -->
            <div class="form-row">
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="ieInicial" class="form-control" value="999.999.999.999">
                        <label for="ieInicial" >Inscrição Estadual</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="cnaeInicial" class="form-control" value="99.99-9-99">
                        <label for="cnaeInicial" >CNAE Principal</label>
                    </div>
                </div>
            </div>
            <!-- Row do Email -->
            <div class="form-row">
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="form1" class="form-control" value="example@example.com">
                        <label for="form1" >E-mail</label>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <input type="text" id="form1" class="form-control" value="example@example.com">
                        <label for="form1" >E-mail financeiro</label>
                    </div>
                </div>
            </div>
            <!-- Row do Telefone -->
            <div class="form-row">
                <div class="col-3">
                    <div class="md-form">
                        <input type="text" id="telInicial" class="form-control" value="(19) 9999-9999">
                        <label for="telInicial" >Telefone</label>
                    </div>
                </div>
            </div>
            <hr class="w-100">
            <!-- Seção do Endereço -->
            <h4 class="formTitle mt-5">Endereço</h4>
            <!-- Row do CEP -->
            <div class="form-row">
                <div class="col-3">
                    <div class="md-form">
                        <input type="text" id="cepInicial" class="form-control" value="99999-999">
                        <label for="cepInicial" >CEP</label>
                    </div>
                </div>
            </div>
            <!-- Row do Logradouro, Numero e complemento -->
            <div class="form-row">
                <div class="col-7">
                    <div class="md-form">
                        <input type="text" id="logradouroInicial" class="form-control" value="Rua Alameda">
                        <label for="logradouroInicial" >Logradouro</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="md-form">
                        <input type="text" id="numInicial" class="form-control" value="999">
                        <label for="numInicial" >Número</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="md-form">
                        <input type="text" id="complInicial" class="form-control">
                        <label for="complInicial" >Complemento</label>
                    </div>
                </div>
            </div>
            <!-- Row do Bairro, Cidade e Estado -->
            <div class="form-row">
                <div class="col-5">
                    <div class="md-form">
                        <input type="text" id="bairroInicial" class="form-control" value="Jd Bairro">
                        <label for="bairroInicial" >Bairro</label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="md-form">
                        <input type="text" id="cidInicial" class="form-control" value="Americana">
                        <label for="cidInicial" >Cidade</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="md-form">
                        <input type="text" id="estinicial" class="form-control" value="SP">
                        <label for="estinicial" >Estado</label>
                    </div>
                </div>
            </div>      
        </form>
    </div>
</div>