<section id="navtabs">
   
    <% include home %>
    <% include atendimento %>
    <% include cadastro %>
    <% include funcionarios %>
    <% include funcoes %>
    <% include exames %>
    <% include risco-agentes %>
    <% include credenciados %>
    <% include seguranca %>
    <% include medicina %>
</section>
  