<!-- Sidenav -->
<section id="sidenav">
    <!-- Links das seções do sidenav -->
    <ul class="mt-5 justify-content-flex-start">
      <li>
        <a id="home"><i class="fa fa-home mr-2" aria-hidden="true"></i>Home</a>
      </li>
      <li>
        <a id="atendimento"><i class="fa fa-calendar-plus-o mr-2" aria-hidden="true"></i>Atendimento</a>
      </li>
      <li>
        <a id="cadastro"><i class="fa fa-plus-square mr-2" aria-hidden="true"></i></i>Cadastro</a>
        <!-- Links das seções do sidenav mais específicos -->
        <div id="faturamentoMenu">
          <ul>
            <li>
              <a id="minhaEmpresa">Minha Empresa</a>
            </li>
            <li>
              <a id="funcionarios">Funcionários</a>
            </li>
            <li>
              <a id="setor">Setor</a>
            </li>
            <li>
              <a id="funcao">Função</a>
            </li>
            <li>
              <a id="exames">Exames</a>
            </li>
            <li>
              <a id="riscoAgentes">Riscos | Agentes</a>
            </li>
            <li>
              <a id="credenciados">Credenciados</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a id="documento"><i class="fa fa-file-text mr-2" aria-hidden="true"></i></i>Documento</a>
         <!-- Links das seções do sidenav mais específicos -->
        <div id="relatoriosMenu">
          <ul>
            <li>
              <a id="seg">Segurança</a>
            </li>
            <li>
              <a id="med">Medicina</a>
            </li>
            <li>
              <a id="aso">A.S.O.</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a id="relImpressos"><i class="fa fa-bar-chart mr-2" aria-hidden="true"></i>Relatórios & Impressos</a>
         <!-- Links das seções do sidenav mais específicos -->
        <div id="relImpressosMenu">
          <ul>
            <li>
                <a id="guiaEnc" >Guia de Encaminhamento</a>
            </li>
            <li>
                <a id="anamneseClinica">Ficha de Anamnese Clínica</a>
            </li>
            <li>
                <a id="anamneseAudio">Ficha de Anamnese Audiometria</a>
            </li>
            <li>
                <a id="anamneseAcuidade">Ficha de Anamnese Acuidade Visual</a>
            </li>
            <li>
                <a id="saudeOcupa">Atestado de Saúde Ocupacional</a>
            </li>
            <li>
                <a id="relFuncRelExam">Rel. Funcionários e realizar exames</a>
            </li>
            <li>
                <a id="examFunc">Exames já realizados por funcionários</a>
            </li>
            <li>
                <a id="relAnual">Rel. Anual de Exames</a>
            </li>
            <li>
                <a id="listaFunc">Lista de Funcionários</a>
            </li>
            <li>
                <a id="relFuncIdadeSexo">Rel. Funcionários por idade, sexo</a>
            </li>
            <li>
                <a id="relExamCredenciados">Rel. Exames realizados por credenciado</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </section>
  