<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/mdb.min.css">
    <link href="stylesheets/vendor/addons/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/ambulatorio-facil.css">
  </head>
  <body>
    <% include partials/topnav %>
    <% include partials/sidenav %>
    <% include partials/navtab %>

    <script src="/javascripts/vendor/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/vendor/popper.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/mdb.min.js"></script>
    <script src="/javascripts/vendor/datatables.js"></script>
    <script src="/javascripts/vendor/jquery.mask.min.js"></script>
    <script src="/javascripts/ambulatorio-facil.js"></script>
  </body>
</html>
